@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-green: #345026;
  --secondary-green: #8aa556;
  --bg-color: #f7eed5;
  --brown-color: #c7560f;
  --font-family-main: "Noto Serif", serif;
  --font-family-secodnary: "Inter", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.aclove_bg {
  background-color: var(--bg-color);
}

.aclove_noto {
  font-family: var(--font-family-main);
}
.aclove_inter {
  font-family: var(--font-family-secodnary);
}

.dark_green {
  color: var(--primary-green);
}
.dark_green_bg {
  background-color: var(--primary-green);
}

.light_green_txt {
  color: var(--primary-green);
}

.aclove_secondary_color {
  color: var(--brown-color);
}

.aclove_secondary_bg {
  background: var(--brown-color);
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  font-family: var(--font-family-main);
}

.logo {
  height: 28px;
  width: 300px;
}

.upper_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-family: var(--font-family-secodnary);
  padding: 31px 30px 30px 30px;
  height: 90px;
  position: relative;
}

.upper_nav a {
  height: 29px;
}

.mob_menu {
  position: absolute;
  background-color: var(--brown-color);
  padding: 4px;
  right: 1px;
  top: 1px;
}
.mob_menu img {
  height: 20px;
}
.mob_menu {
  display: none;
}

.upper_nav_txt {
  padding-top: 12px;
}

.upper_nav span {
  font-size: 18px;
}

.center_div {
  width: 1100px;
  margin: auto;
}

nav {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  height: 50px;
  z-index: 2;
  background-color: var(--primary-green);
}
nav .menu {
  display: flex;
  gap: 3px;
  width: 76%;
  padding: 6px 22px;
}

nav .menu .menu_item {
  display: flex;
  align-items: center;
  gap: 4px;
}

nav .menu a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: var(--font-family-secodnary);
  font-weight: 600;
  display: block;
}

.menu .menu_item:hover a {
  color: #c7d0af;
}
.menu .menu_item:hover .dropdown {
  display: block;
}
.menu .menu_item:hover .mega_dropdown {
  display: block;
}
.menu .menu_item:hover img {
  transform: rotate(180deg);
}
.menu .menu_item {
  position: relative;
  padding: 12px 10px;
}
.menu .menu_item .dropdown {
  position: absolute;
  top: 37px;
  background: rgba(255, 255, 255, 0.959);
  box-shadow: 0px 5px 1px 2px #00000029;
  display: none;
  padding: 23px;
  width: 250px;
  max-height: 500px;
}
.menu .menu_item .mega_dropdown {
  position: absolute;
  top: 37px;
  background: rgba(255, 255, 255, 0.959);
  box-shadow: 0px 5px 1px 2px #00000029;
  display: none;
  padding: 23px;
  width: 1100px;
  right: 0;
  left: -392px;
  margin: auto;
}
.menu .menu_item .dropdown ul {
  border-top: solid 1px #c3dfdd;
  padding-left: 0;
}
.menu .menu_item .dropdown ul li {
  list-style: none;
  border-bottom: solid 1px #c3dfdd;
}
.menu .menu_item .dropdown ul li a {
  font-size: 14px;
  color: #54595f;
  padding: 10px 0;
}
.menu .menu_item .dropdown ul li a:hover {
  color: var(--brown-color);
}

/* -----------------------------------------------------------MEGA------------------------------------- */

.dropdown:hover .dropdown-menu {
  display: block;
  z-index: 1;
}

.mega_dropdown_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 25px;
}
.menu_container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 60px;
}
.menu_container .menu_col {
  width: 200px;
}
.menu_container .menu_col h4 {
  margin-bottom: 10px;
  color: var(--brown-color);
  font-family: var(--font-family-secodnary);
}

.menu_col ul {
  padding-left: 0;
}
.menu_col ul li {
  border-top: solid 1px #c3dfdd;
  list-style: none;
}
.menu_col ul li a {
  font-size: 14px;
  color: #54595f !important;
  padding: 10px 0;
}
.menu_col ul li a:hover {
  color: var(--brown-color) !important;
}

/* -----------------------------------------------------------MEGA DROPDOWN END------------------------- */

.search {
  width: 25%;
  color: var(--secondary-green);
  display: flex;
}
.search input {
  width: 202px;
  height: 100%;
  background: #c7d0af;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 0 15px;
  color: var(--secondary-green);
}

.search input::placeholder {
  color: var(--secondary-green);
}

.search_btn img {
  height: 18px;
  position: absolute;
  left: 20px;
  top: 15px;
}
.search_btn {
  height: 50px;
  width: 72px;
  position: relative;
  background: #c7d0af;
}
.search_btn:hover {
  background-color: #c7d0afc4;
}

/* -------------------------------------Slider------------------------------------------------- */

.mob_v {
  display: none;
}

.adn_carousel_section {
  padding: 20px 0;
}

.slider_items {
  background-color: white;
  display: flex;
  height: 165px;
}

.slider_items .slider_details {
  padding: 16px 16px 16px 20px;
  width: 70%;
}

.slider_tag {
  color: var(--brown-color);
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 8px;
  display: block;
  text-decoration: none;
}
.slider_items .slider_img {
  width: 109px;
  height: 165px;
  overflow: hidden;
  object-fit: cover;
}

.slider_items .slider_img img {
  width: 109px;
  height: 165px;
  overflow: hidden;
  transition: 350ms;
  object-fit: cover;
}
.slider_items .slider_img img:hover {
  transform: scale(1.3);
  transition: 350ms;
}

.slide_title {
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  padding-bottom: 12px;
  color: var(--primary-green);
  text-decoration: none;
  display: block;
  min-height: 80px;
  border-bottom: solid 1px #c3dfdd;
  margin-bottom: 10px;
}

.slider_details .author img {
  height: 14px;
  width: 14px;
}

.slider_details .author {
  color: var(--brown-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.slider_details .author a {
  color: var(--brown-color);
  text-decoration: none;
}

.swiper-button-prev:after {
  position: absolute;
  left: 1020px;
  top: 67px;
  font-size: 16px;
  font-weight: 900;
  background-color: var(--brown-color);
  padding: 10px 12px;
  color: white;
}
.swiper-button-next:after {
  position: absolute;
  right: -9px;
  top: 67px;
  font-size: 16px;
  font-weight: bolder;
  background-color: var(--brown-color);
  padding: 10px 12px;
  color: white;
}

/* -------------------------------------Slider------------------------------------------------- */

/* -----------------------------Hero Section ------------------------------------------------------  */

.adn_hero_section span {
  font-weight: bold;
  display: inline-block;
}

.adn_hero_section .hero_main {
  margin-top: 8px;
}

.adn_hero_section .hero_main:hover .hero_img img {
  transform: scale(1.3);
  transition: transform 450ms ease;
}

.adn_hero_section .hero_main:hover .hero_details a,
.adn_hero_section .hero_main:hover .hero_details p {
  transform: translateY(-8px);
  transition: transform 450ms ease;
}

.adn_hero_section .hero_main .hero_img {
  overflow: hidden;
  height: 520px;
  display: block;
}

.adn_hero_section .hero_main .hero_img img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  transition: transform 450ms ease;
}

.adn_hero_section .hero_main .hero_img img:hover {
  transform: scale(1.3);
  transition: transform 450ms ease;
}

.hero_details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 40px;
}

.hero_details a {
  font-size: 45px;
  text-decoration: none;
  font-weight: bolder;
  width: 57%;
  text-align: center;
  margin-bottom: 20px;
  transition: 450ms;
}

.hero_details a:hover {
  color: black;
  transition: 450ms;
}

.hero_details p {
  width: 60%;
  text-align: center;
  font-family: var(--font-family-secodnary);
  font-size: 18px;
  color: #363636;
  word-spacing: 2px;
  line-height: 1.4;
  transition: transform 350ms ease;
}

.hero_section_hr {
  background-color: green;
  height: 1px;
  margin-bottom: 8px;
}

/* -----------------------------Hero Section ------------------------------------------------------  */

/* --------------------------------------Blogs Section--------------------------------------- */

.blogs {
  display: flex;
  gap: 30px;
  padding: 30px 0;
}
.blogs_posts {
  width: 713px;
}
.aside {
  width: 356px;
}
.blog_img {
  height: 458px;
  width: 100%;
  overflow: hidden;
  display: block;
}
.blog_img img {
  height: 100%;
  width: 100%;
  transition: 350ms;
}
.blog_img img:hover {
  transform: scale(1.3);
  transition: 350ms;
}
.blog_details {
  height: 100%;
  background-color: white;
  padding: 60px 30px;
}
.blog_details h2 {
  width: 75%;
}
.blog_title {
  font-size: 35px;
  font-weight: 700;
  color: #363636;
  text-decoration: none;
  transition: 350ms;
}
.blog_title:hover {
  color: var(--brown-color);
  transition: 350ms;
}

.blog_article {
  padding-bottom: 30px;
}

.blog_details .author_details {
  font-size: 14px;
  color: var(--brown-color);
  padding: 20px 0;
  font-family: var(--font-family-secodnary);
}

.blog_details .author_details img {
  height: 14px;
}
.blog_details .author_details .author_name {
  text-decoration: none;
  color: var(--brown-color);
}

.blog_summary {
  font-family: var(--font-family-secodnary);
  font-weight: 300;
  color: #363636;
  font-size: 15px;
}

.aside .ad_banner {
  width: 100%;
  height: 319px;
  background-color: white;
  color: var(--brown-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-secodnary);
  margin-bottom: 25px;
}

.aside .reviews {
  text-align: center;
}

.aside .reviews h3 {
  background-color: var(--primary-green);
  padding: 16px;
  color: white;
}
.review_boxes {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
}
.review_box {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
.review_box img {
  width: 88px;
  height: 102px;
  object-fit: cover;
}

/* Latest blogs */

.aside .reviews {
  text-align: center;
}

.aside .reviews h3 {
  background-color: var(--primary-green);
  padding: 16px;
  color: white;
}
.review_boxes {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
}
.review_box {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
.latest_blog_box img {
  width: 89px;
  height: 75px;
  object-fit: cover;
}

/* Latest blogs */

.review_box .review_title {
  text-align: left;
  font-family: var(--font-family-main);
  font-size: 14px;
  font-weight: 600;
}
.review_box .review_title a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding-bottom: 8px;
}

.review_box .review_title a:hover {
  color: var(--brown-color);
}

.review_box .review_date {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.review_box .review_date img {
  height: 14px;
  width: 14px;
}

.review_box .review_date span {
  color: var(--brown-color);
  font-size: 14px;
}

/* Tags */

.tags {
  border: 1px solid var(--primary-green);
  display: inline-block;
  padding: 5px;
  margin: 3px;
  color: var(--primary-green);
  font-family: var(--font-family-secodnary);
  font-size: 14px;
  text-decoration: none;
  transition: 350ms;
}
.tags:hover {
  background-color: var(--brown-color);
  color: white;
  transition: 350ms;
}

.tags_boxes {
  text-align: left;
}

/* Tags */

/* Latest Blogs */

.latest_blogs {
  height: 75px;
  width: 89px;
}

/* Latest Blogs */

/* --------------------------------------Blogs Section--------------------------------------- */

/* --------------------Footer-------------------------------------- */

footer {
  background-color: white;
  padding: 40px 0;
  height: 378px;
}

.footer_div {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  gap: 20px;
}

footer .footer_logo {
  display: inline-block;
}
footer .footer_logo img {
  height: 16px;
  width: 170px;
  margin-top: 6px;
}

footer ul li a {
  font-size: 13px;
  color: #363636;
}
.footer_headings {
  color: var(--brown-color);
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding-bottom: 8px;
}

.footer_col1 {
  display: flex;
  justify-content: start;
  gap: 70px;
}

.footer_menu1 ul li {
  padding-bottom: 12px;
}
.footer_menu1 ul li a:hover {
  color: var(--brown-color);
}
.footer_col1 .footer_menu1 ul {
  padding-left: 0;
}
.footer_col1 .footer_menu1 ul li {
  list-style: none;
}
.footer_col2 .footer_menu1 ul {
  padding-left: 0;
}
.footer_col2 .footer_menu1 ul li {
  list-style: none;
}

.last_footer_menu ul li a {
  word-spacing: 5px;
}
.text_wrap {
  text-wrap-mode: nowrap;
}

.footer_ribbon {
  padding: 14px;
  color: white;
  text-align: center;
}

.footer_ribbon p {
  font-size: 14px;
}

.rbtxt1 {
  padding-right: 12px;
}

.footer_lh {
  line-height: 1;
}

/* Sidebar Default Hidden */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 40px;
  z-index: 3;
}

/* Sidebar Links */
.sidebar a {
  padding: 7px 12px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #363636;
  display: block;
  transition: 0.2s;
  font-family: var(--font-family-secodnary);
}

.mobile_menu_items {
  border-bottom: 1px solid #8d8d8d;
}

/* Close Button */
.closebtn {
  position: absolute;
  top: 0px;
  right: 8px;
  font-size: 30px !important;
  color: white;
  cursor: pointer;
}

/* Sidebar Open Effect */
.sidebar.open {
  width: 300px;
}

/* Background Overlay (Hidden by Default) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;
}

/* Show Overlay When Sidebar is Open */
.overlay.show {
  opacity: 1;
  visibility: visible;
}


/* -------------------------------------------BLOG PAGE HERO SECTION------------------------------------------- */

.blog_hero_section{
  margin-top: 30px;
  margin-bottom: 60px;
}

.blog_hero_img{
  height: 350px;
  width: 100%;
}
.blog_hero_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blog_categories{
  padding: 60px;
  background-color: white;
}
.blog_categories .blog_tag{
  font-family: var(--font-family-secodnary);
  letter-spacing: 2px;
  color: var(--brown-color);
}
.blog_categories h1{
  font-size: 36px;
  color: #363636;
}
.blog_categories .blog_seperator{
  height: 1px;
  background-color: var(--brown-color);
  margin-top: 20px;
}
.blog_categories_items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 30px;
}
.blog_categories_item{
border: 1px solid var(--brown-color);
}
.blog_categories_item .blog_cat_img{
  height: 194px;
  width: 295px;
  margin-bottom: 15px;
}
.blog_categories_item .blog_cat_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blog_cat_details{
  padding: 0 30px;
  width: 295px;
}
.blog_categories_item .blog_heading{
  font-size: 18px;
  color: #363636;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
}

.blog_cat_details p{
  font-size: 15px;
  font-family: var(--font-family-secodnary);
  color: #363636;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 15px;
}

.blog_categories_item .blog_date{
  border-top: 1px solid #eaeaea;
  padding: 15px 30px;
}
.blog_categories_item .blog_date span{
  font-size: 14px;
  font-family: var(--font-family-secodnary);
  color: var(--brown-color);
}




/* -------------------------------------------BLOG PAGE HERO SECTION end------------------------------------------- */




/* --------------------Footer-------------------------------------- */

/* ------------------------------------------------------------MOBILE VERSION----------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
  .logo {
    height: 23px;
    width: 240px;
  }
  .upper_nav {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 93px;
    padding: 22px 32px;
  }
  .hero_section_hr {
    margin-top: 20px;
  }

  .upper_nav .mobile_v {
    padding: 23px 31px;
  }
  .upper_nav_txt {
    padding-top: 0 !important;
  }
  .upper_nav span {
    font-size: 16px;
  }
  .mob_menu {
    display: block;
  }
  .mob_sub_menu {
    display: flex !important;
    justify-content: start;
    align-items: center;
    gap: 4px;
  }
  .mob_sub_menu_items {
    display: none;
  }
  .mob_sub_menu_items ul {
    padding-left: 15px;
    border-bottom: 1px solid gray;
  }
  .mob_sub_menu_items ul li {
    list-style: none;
  }
  .mob_sub_menu_items ul li a {
    font-size: 14px;
    padding: 8px;
  }

  .mob_sub_menu_items ul li a:hover {
    color: var(--brown-color);
  }
  nav .menu {
    display: none;
  }
  .search {
    width: 100%;
  }
  .search input {
    width: 100%;
  }
  .search_btn img {
    height: 18px;
    position: absolute;
    left: 8px;
    top: 15px;
  }
  .center_div {
    width: 100%;
    padding: 0 15px;
  }

  /* Slider mob */

  .mob_v {
    display: block;
  }
  .desktop_v {
    display: none;
  }

  .swiper-button-next:after {
    display: none;
  }

  /* Slider mob */

  .adn_hero_section .hero_main .hero_img img {
    height: 230px;
  }

  .adn_hero_section .hero_main .hero_img {
    height: 230px;
  }

  .hero_details {
    justify-content: start;
    align-items: start;
    padding: 30px;
  }

  .hero_details a {
    font-size: 30px;
    width: 100%;
    text-align: start;
  }
  .hero_details p {
    width: 100%;
    text-align: start;
    font-size: 15px;
  }

  .blogs {
    flex-direction: column;
  }
  .blog_article {
    padding-bottom: 40px;
  }
  .blogs_posts {
    width: 100%;
  }
  .blog_img {
    height: 230px;
  }
  .blog_title {
    font-size: 21px;
  }
  .blog_details {
    padding: 20px;
  }
  .blog_details h2 {
    width: 100%;
  }
  .aside {
    width: 100%;
  }
  .footer_div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  footer {
    height: 100%;
  }
  .footer_col1 {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  footer .footer_logo {
    display: inline;
    text-align: center;
  }
  .footer_col1 .footer_menu1 ul {
    text-align: center;
  }
  .footer_menu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer_menu1 ul {
    text-align: center;
  }
  .info_heading {
    display: none;
  }
  .last_footer_menu ul li a {
    word-spacing: 2px;
  }

  .last_footer_menu {
    padding-bottom: 30px;
  }

  .tags_boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .tags {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
  }
}

/* ---------------------------------------------------------TABLET-------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .center_div {
    width: 100%;
    padding: 0 15px;
  }
  nav .menu {
    display: none;
  }
  nav {
    justify-content: center;
  }
  nav .search {
    width: 371px;
  }
  nav .search input {
    width: 300px;
  }
  nav .search .search_btn {
    width: 71px;
  }
  .upper_nav {
    flex-direction: column;
    align-items: start;
    height: 121px;
  }
  .mob_v {
    display: block;
  }
  .desktop_v {
    display: none;
  }
  .mob_menu {
    display: block;
  }
  .mob_sub_menu_items {
    display: none;
  }
  .mob_sub_menu_items ul {
    padding-left: 15px;
    border-bottom: 1px solid gray;
  }
  .mob_sub_menu_items ul li {
    list-style: none;
  }
  .mob_sub_menu_items ul li a {
    font-size: 14px;
    padding: 8px;
    font-family: var(--font-family-secodnary);
  }

  .mob_sub_menu_items ul li a:hover {
    color: var(--brown-color);
  }

  .hero_section_hr {
    margin-top: 30px;
    margin-bottom: 4px;
  }

  .adn_hero_section .hero_main .hero_img img {
    height: 100%;
  }
  .adn_hero_section .hero_main .hero_img {
    height: 450px;
  }

  .hero_details a {
    width: 100%;
    line-height: 1.2;
    font-size: 34px;
  }
  .hero_details p {
    line-height: 1.1;
    font-size: 15px;
  }

  .upper_nav_txt {
    padding-top: 5px;
  }

  /* Slider */

  .swiper-button-next::after {
    display: none;
  }

  .slider_items .slider_img {
    width: 150px;
  }
  .slider_items .slider_img img {
    width: 100%;
  }

  /* Slider */

  .hero_details p {
    width: 68%;
    text-align: left;
    font-size: 15px;
  }

  .blog_img img {
    height: 311px;
    width: 100%;
    object-fit: cover;
  }
  .blog_img {
    height: 311px;
  }
  .blog_title {
    font-size: 20px;
  }
  .blog_details h2 {
    width: 100%;
  }
  .blog_details {
    padding: 30px;
    height: 100%;
  }
}
