@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");


:root {
    --primary-green: #345026;
    --secondary-green: #8aa556;
    --bg-color: #f7eed5;
    --brown-color: #c7560f;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.aclove_bg {
  background-color: #f7eed5;
}

.aclove_noto {
  font-family: "Noto Serif", serif;
}
.aclove_inter {
  font-family: "Inter", serif;
}

.dark_green {
  color: #345026;
}
.dark_green_bg {
  background-color: #345026;
}

.light_green_txt {
  color: #345026;
}

.aclove_secondary_color {
  color: #c7560f;
}

.aclove_secondary_bg {
  background: #c7560f;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #f7eed5;
  font-family: "Noto Serif", serif;
}

.logo {
  height: 28px;
  width: 300px;
}

.upper_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-family: "Inter", serif;
  padding: 30px;
  height: 89px;
  position: relative;
}

.mob_menu {
  position: absolute;
  background-color: #c7560f;
  padding: 4px;
  right: 0;
  top: 0;
}
.mob_menu img {
  height: 20px;
}
.mob_menu {
  display: none;
}

.upper_nav_txt {
  padding-top: 12px;
}

.upper_nav span {
  font-size: 18px;
}

.center_div {
  width: 1100px;
  margin: auto;
}

.menu {
  width: 76%;
  padding: 16px 22px;
}

.menu .menu_item:hover a {
  color: #c7d0af;
}
.menu .menu_item:hover .dropdown {
  display: block;
  width: 300px;
  height: 600px;
}
.menu .menu_item {
  position: relative;
  padding: 10px;
}
.menu .menu_item .dropdown {
  position: absolute;
  top: 35px;
  background: white;
  display: none;
  padding: 20px;
}
.menu .menu_item .dropdown ul li {
  list-style: none;
}
.search {
  width: 25%;
  color: #8aa556;
  display: flex;
}
.search input {
  width: 202px;
  height: 100%;
  background: #c7d0af;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 0 15px;
  color: #8aa556;
}

.search input::placeholder {
  color: #8aa556;
}

.search_btn img {
  height: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
}
.search_btn {
  height: 50px;
  width: 72px;
  position: relative;
  background: #c7d0af;
}
.search_btn:hover {
  background-color: #c7d0afc4;
}

nav {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  height: 50px;
  z-index: 2;
}
nav .menu {
  display: flex;
  gap: 3px;
}

nav .menu .menu_item {
  display: flex;
  align-items: center;
  gap: 4px;
}

nav .menu a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: "Inter", serif;
  font-weight: 600;
  display: block;
}

/* -------------------------------------Slider------------------------------------------------- */

.mob_v {
  display: none;
}

.adn_carousel_section {
  padding: 20px 0;
}

.slider_items {
  background-color: white;
  display: flex;
  height: 165px;
}

.slider_items .slider_details {
  padding: 16px;
  width: 70%;
}

.slider_tag {
  color: #c7560f;
}
.slider_items .slider_img {
  width: 109px;
  height: 165px;
  overflow: hidden;
}

.slider_items .slider_img img {
  width: 109px;
  height: 165px;
  overflow: hidden;
  transition: 350ms;
}
.slider_items .slider_img img:hover {
  transform: scale(1.3);
  transition: 350ms;
}

.slide_title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 8px;
  color: #345026;
}
.slider_details .author img {
  height: 14px;
  width: 14px;
}

.slider_details .author {
  color: #c7560f;
  padding: 8px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.slider_details .author a {
  color: #c7560f;
  text-decoration: none;
}

.swiper-button-prev:after {
  position: absolute;
  left: 1010px;
  top: 67px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #c7560f;
  padding: 10px 12px;
  color: white;
}
.swiper-button-next:after {
  position: absolute;
  right: 0px;
  top: 67px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #c7560f;
  padding: 10px 12px;
  color: white;
}

/* -------------------------------------Slider------------------------------------------------- */

/* -----------------------------Hero Section ------------------------------------------------------  */

.adn_hero_section span {
  font-weight: bold;
  display: inline-block;
  padding: 8px 0;
}

.adn_hero_section .hero_main .hero_img {
  overflow: hidden;
  height: 520px;
  display: block;
}

.adn_hero_section .hero_main .hero_img img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  transition: 350ms;
}

.adn_hero_section .hero_main .hero_img img:hover {
  transform: scale(1.3);
  transition: 350ms;
}

.hero_details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 40px;
}

.hero_details a {
  font-size: 45px;
  text-decoration: none;
  font-weight: bolder;
  width: 57%;
  text-align: center;
  margin-bottom: 20px;
  transition: 350ms;
}

.hero_details a:hover {
  color: black;
  transition: 350ms;
}

.hero_details p {
  width: 60%;
  text-align: center;
  font-family: "Inter", serif;
  font-size: 18px;
  color: #363636;
  word-spacing: 2px;
  line-height: 1.4;
}

.hero_section_hr {
  border: 1px solid green;
  height: 1px;
}

/* -----------------------------Hero Section ------------------------------------------------------  */

/* --------------------------------------Blogs Section--------------------------------------- */

.blogs {
  display: flex;
  gap: 30px;
  padding: 30px 0;
}
.blogs_posts {
  width: 713px;
}
.aside {
  width: 356px;
}
.blog_img {
  height: 458px;
  width: 100%;
  overflow: hidden;
  display: block;
}
.blog_img img {
  height: 100%;
  width: 100%;
  transition: 350ms;
}
.blog_img img:hover {
  transform: scale(1.3);
  transition: 350ms;
}
.blog_details {
  height: 100%;
  background-color: white;
  padding: 60px 30px;
}
.blog_details h2 {
  width: 75%;
}
.blog_title {
  font-size: 35px;
  font-weight: 700;
  color: #363636;
  text-decoration: none;
  transition: 350ms;
}
.blog_title:hover {
  color: #c7560f;
  transition: 350ms;
}

.blog_article {
  padding-bottom: 30px;
}

.blog_details .author_details {
  font-size: 14px;
  color: #c7560f;
  padding: 20px 0;
  font-family: "Inter", serif;
}

.blog_details .author_details img {
  height: 14px;
}
.blog_details .author_details .author_name {
  text-decoration: none;
  color: #c7560f;
}

.blog_summary {
  font-family: "Inter", serif;
  font-weight: 300;
  color: #363636;
  font-size: 15px;
}

.aside .ad_banner {
  width: 100%;
  height: 319px;
  background-color: white;
  color: #c7560f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", serif;
  margin-bottom: 25px;
}

.aside .reviews {
  text-align: center;
}

.aside .reviews h3 {
  background-color: #345026;
  padding: 16px;
  color: white;
}
.review_boxes {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
}
.review_box {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
.review_box img {
  width: 88px;
  height: 102px;
}

/* Latest blogs */

.aside .reviews {
  text-align: center;
}

.aside .reviews h3 {
  background-color: #345026;
  padding: 16px;
  color: white;
}
.review_boxes {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
}
.review_box {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
.latest_blog_box img {
  width: 89px;
  height: 75px;
}

/* Latest blogs */

.review_box .review_title {
  text-align: left;
  font-family: "Noto serif", serif;
  font-size: 14px;
  font-weight: 600;
}
.review_box .review_title a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding-bottom: 8px;
}

.review_box .review_title a:hover {
  color: #c7560f;
}

.review_box .review_date {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.review_box .review_date img {
  height: 14px;
  width: 14px;
}

.review_box .review_date span {
  color: #c7560f;
  font-size: 14px;
}

/* Tags */

.tags {
  border: 1px solid #345026;
  display: inline-block;
  padding: 5px;
  margin: 3px;
  color: #345026;
  font-family: "Inter", serif;
  font-size: 14px;
  text-decoration: none;
}

.tags_boxes {
  text-align: left;
}

/* Tags */

/* Latest Blogs */

.latest_blogs {
  height: 75px;
  width: 89px;
}

/* Latest Blogs */

/* --------------------------------------Blogs Section--------------------------------------- */

/* --------------------Footer-------------------------------------- */

footer {
  background-color: white;
  padding: 40px 0;
  height: 378px;
}

.footer_div {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  gap: 20px;
}

footer .footer_logo {
  display: inline-block;
}
footer .footer_logo img {
  height: 16px;
  width: 170px;
  margin-top: 6px;
}

footer ul li a {
  font-size: 13px;
  color: #363636;
}
.footer_headings {
  color: #c7560f;
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding-bottom: 8px;
}

.footer_col1 {
  display: flex;
  justify-content: start;
  gap: 70px;
}

.footer_menu1 ul li {
  padding-bottom: 12px;
}
.footer_menu1 ul li a:hover {
  color: #c7560f;
}
.footer_col1 .footer_menu1 ul {
  padding-left: 0;
}
.footer_col1 .footer_menu1 ul li {
  list-style: none;
}
.footer_col2 .footer_menu1 ul {
  padding-left: 0;
}
.footer_col2 .footer_menu1 ul li {
  list-style: none;
}

.last_footer_menu ul li a {
  word-spacing: 5px;
}
.text_wrap {
  text-wrap-mode: nowrap;
}

.footer_ribbon {
  padding: 14px;
  color: white;
  text-align: center;
}

.footer_ribbon p {
  font-size: 14px;
}

.rbtxt1 {
  padding-right: 12px;
}

.footer_lh {
  line-height: 1;
}

/* Sidebar Default Hidden */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 40px;
  z-index: 3;
}

/* Sidebar Links */
.sidebar a {
  padding: 7px 15px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #363636;
  display: block;
  transition: 0.2s;
  font-family: "Inter";
}

.mobile_menu_items {
  border-bottom: 1px solid #8d8d8d;
}

/* Close Button */
.closebtn {
  position: absolute;
  top: 0px;
  right: 8px;
  font-size: 30px !important;
  color: white;
  cursor: pointer;
}

/* Sidebar Open Effect */
.sidebar.open {
  width: 300px;
}

/* Background Overlay (Hidden by Default) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;
}

/* Show Overlay When Sidebar is Open */
.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* --------------------Footer-------------------------------------- */



/* ------------------------------------------------------------MOBILE VERSION----------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
  .logo {
    height: 23px;
    width: 240px;
  }
  .upper_nav {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 93px;
    padding: 20px 15px;
  }
  .hero_section_hr {
    margin-top: 20px;
  }

  .upper_nav .mobile_v {
    padding: 23px 31px;
  }
  .upper_nav_txt {
    padding-top: 0;
  }
  .upper_nav span {
    font-size: 16px;
  }
  .mob_menu {
    display: block;
  }
  .mob_sub_menu{
    display: flex !important;
    justify-content: start;
    align-items: center;
    gap: 4px;
  }
  nav .menu {
    display: none;
  }
  .search {
    width: 100%;
  }
  .search input {
    width: 100%;
  }
  .center_div {
    width: 100%;
    padding: 0 15px;
  }

  /* Slider mob */

  .mob_v {
    display: block;
  }
  .desktop_v {
    display: none;
  }

  .swiper-button-next:after {
    display: none;
  }

  /* Slider mob */

  .adn_hero_section .hero_main .hero_img img {
    height: 230px;
  }

  .adn_hero_section .hero_main .hero_img {
    height: 230px;
  }

  .hero_details {
    justify-content: start;
    align-items: start;
    padding: 30px;
  }

  .hero_details a {
    font-size: 30px;
    width: 100%;
    text-align: start;
  }
  .hero_details p {
    width: 100%;
    text-align: start;
    font-size: 15px;
  }

  .blogs {
    flex-direction: column;
  }
  .blog_article {
    padding-bottom: 40px;
  }
  .blogs_posts {
    width: 100%;
  }
  .blog_img {
    height: 230px;
  }
  .blog_title {
    font-size: 21px;
  }
  .blog_details {
    padding: 20px;
  }
  .blog_details h2 {
    width: 100%;
  }
  .aside {
    width: 100%;
  }
  .footer_div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  footer {
    height: 100%;
  }
  .footer_col1 {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  footer .footer_logo {
    display: inline;
    text-align: center;
  }
  .footer_col1 .footer_menu1 ul {
    text-align: center;
  }
  .footer_menu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer_menu1 ul {
    text-align: center;
  }
  .info_heading {
    display: none;
  }
  .last_footer_menu ul li a {
    word-spacing: 2px;
  }

  .last_footer_menu {
    padding-bottom: 30px;
  }
  /* .tags_boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tags {
    display: inline;
  } */

  .tags_boxes {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items to the left */
    gap: 5px; /* Adds space between tags */
}

.tags {
    display: inline-block; /* Ensures the anchor only takes content width */
    padding: 5px 10px; /* Adds padding for better appearance */
    text-decoration: none; /* Removes underline */
    color: #333; /* Text color */
    white-space: nowrap; /* Prevents text from breaking */
}


}

@media screen and (max-width: 768px) {
  /* .adn_carousel_section {
    display: none;
  } */
  .center_div {
    width: 100%;
    padding: 0 15px;
  }

  .hero_details a {
    width: 100%;
    line-height: 1.2;
  }
  .hero_details p {
    line-height: 1.1;
  }
  .search input {
    width: 100%;
  }
  .upper_nav {
    height: 121px;
  }
  .upper_nav_txt {
    padding-top: 5px;
  }

  /* Slider */

  .swiper-button-next::after {
    display: none;
  }

  /* Slider */

  .hero_details p {
    width: 100%;
    font-size: 15px;
  }

  .blog_img img {
    height: 311px;
    width: 485px;
  }
  .blog_img {
    height: 311px;
  }
  .blog_title {
    font-size: 20px;
  }
  .blog_details h2 {
    width: 100%;
  }
  .blog_details {
    padding: 30px;
    height: 100%;
  }
}
